[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.venv
)/
'''

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true

[tool.poetry]
name = "open-prices"
version = "0.1.0"
description = "An open database of product prices"
authors = ["Open Food Facts <contact@openfoodfacts.org>"]
license = "AGPL-3.0 licence"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
alembic = "~1.12.1"
Babel = "~2.13.1"
fastapi = "~0.103.1"
jinja2 = "~3.1.2"
openfoodfacts = "~0.1.10"
psycopg2-binary = "~2.9.9"
pydantic-settings = "~2.0.3"
python-multipart = "~0.0.6"
requests = "~2.31.0"
sentry-sdk = {extras = ["fastapi"], version = "~1.35.0"}
sqlalchemy = "~2.0.23"
sqlalchemy-utils = "~0.41.1"
uvicorn = "~0.23.2"
fastapi-pagination = "^0.12.12"
fastapi-filter = "^1.0.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
black = "^23.11.0"
flake8 = "^6.1.0"
isort = "^5.12.0"
pytest-cov = "^4.1.0"
httpx = "^0.25.1"
pre-commit = "^3.5.0"
mkdocs = "~1.5.3"
mkdocs-material = "~9.4.10"
mkdocs-awesome-pages-plugin = "~2.9.2"
mdx-truly-sane-lists = "^1.3"
toml-sort = "^0.23.1"
mypy = "^1.7.0"
