[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.venv
)/
'''

[tool.isort]
profile = "black"

[tool.mypy]
strict = true
disable_error_code = ["misc"]
python_version = "3.10"
exclude = [
  'alembic/',
]
plugins = [
  "sqlalchemy.ext.mypy.plugin",
  "pydantic.mypy"
]

[[tool.mypy.overrides]]
module = [
    "openfoodfacts",
    "openfoodfacts.*",
    "OSMPythonTools.nominatim",
    "apscheduler.*"
]
ignore_missing_imports = true
warn_return_any = false

[tool.poetry]
name = "open-prices"
version = "0.1.0"
description = "An open database of product prices"
authors = ["Open Food Facts <contact@openfoodfacts.org>"]
license = "AGPL-3.0 licence"
readme = "README.md"

[tool.poetry.dependencies]
python = "~3.10"
alembic = "~1.12.1"
Babel = "~2.13.1"
fastapi = "~0.103.1"
jinja2 = "~3.1.3"
openfoodfacts = "~0.1.10"
psycopg2-binary = "~2.9.9"
pydantic-settings = "~2.0.3"
python-multipart = "~0.0.6"
requests = "~2.31.0"
sentry-sdk = {extras = ["fastapi"], version = "~1.35.0"}
sqlalchemy = "~2.0.25"
sqlalchemy-utils = "~0.41.1"
uvicorn = "~0.23.2"
fastapi-pagination = "^0.12.12"
fastapi-filter = "^1.0.0"
osmpythontools = "^0.3.5"
apscheduler = "~3.10.4"
typer = "~0.9.0"
pydantic = "^2.6.1"

[tool.poetry.group.dev.dependencies]
black = "^23.11.0"
flake8 = "^7.0.0"
httpx = "^0.25.1"
isort = "^5.12.0"
mdx-truly-sane-lists = "^1.3"
mkdocs = "~1.5.3"
mkdocs-awesome-pages-plugin = "~2.9.2"
mkdocs-material = "~9.4.10"
mypy = "^1.8.0"
pre-commit = "^3.5.0"
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
toml-sort = "^0.23.1"
types-requests = "^2.31.0.20240125"
types-tqdm = "^4.66.0.20240106"
types-sqlalchemy-utils = "^1.0.1"
