{% extends "layouts/base.html" %}

{% block title %}Home{{ block.super }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<h1>Welcome to the Open Prices API</h1>
<ul>
    <li>
        <a href="{% url 'api:swagger-ui' %}">API documentation</a>
    </li>
    <li>
        <a href="https://github.com/openfoodfacts/open-prices">Github repo</a>
    </li>
    <li>
        <a href="https://prices.openfoodfacts.org">Open Prices app</a>
    </li>
    <li>
        <a href="https://openfoodfacts.org">Open Food Facts</a>
    </li>
</ul>
{% endblock %}
